@font-face {
  font-family: "Montserrat Alternates";
  src: local("Montserrat Alternates"), local("Montserrat-Alternates"),
    url("../fonts/MontserratAlternates-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: local("Montserrat Alternates"), local("Montserrat-Alternates"),
    url("../fonts/MontserratAlternates-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: local("Montserrat Alternates"), local("Montserrat-Alternates"),
    url("../fonts/MontserratAlternates-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Syncopate";
  src: local("Syncopate"), url("../fonts/Syncopate-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Zen Dots";
  src: local("Zen Dots"), local("Zen_Dots"), local("Zen-Dots"),
    url("../fonts/ZenDots-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
