:root {
  /* цвета */
  --hero-bg-color: #e7daf7;
  --logo-jas-color: #212529;
  --logo-trust-color: #7956a6;
  --granat-picture-background: #ebf9fa;
  --title-color: #222222;
  --button-bg-color: #543C73;
  --button-text-color: #F7F7F7;

  /* шрифты  */
  --font-family: "Montserrat Alternates", sans-serif;
  --second-family: "Merriweather", sans-serif;
  --third-family: "Syncopate", sans-serif;
  --font3: "Zen Dots", sans-serif;
}
