header {
  display: flex;
  position: fixed;
  // position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  background-color: var(--header-bg-color, rgba(255, 255, 255, 0.8));
  padding: 60px 60px 0 60px;

  justify-content: space-between;
  align-items: end;

  @media screen and (max-width: 1400px) {
    padding: 20px;
  }

  @media screen and (max-width: 1000px) {
    align-items: start;
    justify-content: space-between;
  }

  @media screen and (max-width: 600px) {
    padding: 20px 10px;
    .logo {
      transform: scale(0.8) translateX(-15%) translateY(-5%);
    }
  }
}
