.hero-iteration {
  position: relative;
  background-color: var(--button-text-color, #f7f7f7);
  min-height: 1080px;
  padding: 9.21875% 2.34375% 0 16.61458333%;
  font-family: var(--font-family, "Montserrat Alternates", sans-serif);
  z-index: 20;

  .title {
    width: max-content;
    font-size: 6rem;
    font-weight: 500;
    line-height: 1.218958333em;
    text-align: left;
    color: var(--title-color, #222222);
  }

  .text {
    padding: 2em 0 1em;
    max-width: 530px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
    text-align: left;
    p {
      margin: 0;
    }
  }

  .become-more-visible {
    margin-top: 37px;
    background-color: var(--button-color-yellow, #f2de96);
    border: none;
    border-radius: 10px;
    width: 41.06683805%;
    // width: 639px;
    height: 90px;
    color: var(--button-text-color2, #453e27);
    font-size: 48px;
    font-weight: 400;
    line-height: 1.218958333em;
  }

  .main-picture {
    position: absolute;
    top: 25%;
    right: 9.114583333%;
    height: 630px;
    width: 546px;
    z-index: 20;
    &__wrapper {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }
    &__picture {
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url("../images/Main_picture.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 10;
    }

    &__shadow {
      position: absolute;
      z-index: 5;
      width: 102.7472527%;
      height: 66.03174603%;
      top: 39.36507937%;
      left: 3.663003663%;
      background-color: var(--button-bg-color, #543c73);
    }
  }

  .content {
    position: relative;
    z-index: 35;
  }

  .copyright {
    position: absolute;
    bottom: 50px;
    right: 59px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.214285714em;
    text-align: left;
    color: var(--logo-jas-color, #212529);
  }

  @media screen and (max-width: 1700px) {
    .main-picture {
      top: auto;
      bottom: 20%;
      right: 5%;
      &__wrapper {
        height: 90%;
        width: 90%;
      }
    }
    .become-more-visible {
      font-size: 36px;
    }
  }

  @media screen and (max-width: 1600px) {
    min-height: auto;
    padding-bottom: 80px;
    .text {
      font-size: 18px;
      max-width: 50%;
    }

    .main-picture__wrapper {
      height: 70%;
      width: 70%;
    }

    .copyright {
      bottom: 3%;
      right: 4%;
    }
  }

  @media screen and (max-width: 1400px) {
    .title {
      font-size: 4.5rem;
    }
    .become-more-visible {
      font-size: 24px;
      height: 60px;
    }
  }
  @media screen and (max-width: 1200px) {
    .main-picture__wrapper {
      height: 60%;
      width: 60%;
    }
    .text {
      font-size: 16px;
      max-width: 500px;
    }
  }

  @media screen and (max-width: 1100px) {
    .main-picture {
      right: 3%;
      &__wrapper {
        height: 50%;
        width: 50%;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .main-picture__wrapper {
      height: 40%;
      width: 40%;
    }
  }

  @media screen and (max-width: 900px) {
    .main-picture {
      display: none;
    }
    .become-more-visible {
      font-size: 20px;
      width: 60%;
    }
  }

  @media screen and (max-width: 700px) {
    padding-left: 10%;
    padding-right: 5%;
    .title {
      font-size: 3.5rem;
    }
    .become-more-visible {
      width: 70%;
    }
  }

  @media screen and (max-width: 600px) {
    .title {
      font-size: 3rem;
    }
    .text {
      font-size: 14px;
    }
    .become-more-visible {
      width: 90%;
    }
  }

  @media screen and (max-width: 400px) {
    .title {
      font-size: 2.25rem;
    }

    .copyright {
      font-size: 12px;
    }
  }
}
