/* hero iteration 4 */

.hero-iteration-4 {
  position: relative;
  min-height: 1080px;
  header {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    .menu {
      width: 654px;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
      }
      &__link a {
        color: var(--logo-jas-color, #212529);
        text-decoration: none;
        font-family: Montserrat Alternates;
        font-size: 20px;
        font-weight: 600;
        line-height: 24.38px;
      }
    }
  }

  .background {
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0;
    left: 0;
    width: 76.66666667%;
    background-color: var(--hero-bg-color, #e7daf7);
  }

  .content {
    margin-left: 16.61458333%;
    font-family: var(--font-family, "Montserrat Alternates", sans-serif);
  }

  .title {
    width: max-content;
    font-size: 96px;
    font-weight: 500;
    line-height: 1.224em;
    text-align: left;
    position: relative;
    z-index: 10;
    color: var(--title-color, #222222);
    span {
      position: relative;
      z-index: 3;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 0;
      width: 440px;
      height: 54px;
      background-color: var(--logo-trust-color, #7956a6);
    }
  }

  .text {
    margin-top: 40px;
    max-width: 530px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    p {
      margin: 0;
    }
  }

  .become-more-visible {
    margin-top: 40px;
    background-color: var(--button-bg-color, #543c73);
    border: none;
    padding: 0;
    border-radius: 32px;
    width: 639px;
    height: 90px;
    color: var(--button-text-color, #f7f7f7);
    font-size: 48px;
    font-weight: 400;
  }

  .copyright {
    position: absolute;
    bottom: 50px;
    right: 59px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
    color: var(--logo-jas-color, #212529);
  }

  .main-picture {
    position: absolute;
    height: 630px;
    width: 546px;
    top: 16.57407407%;
    left: 62.44791667%;
    background-image: url("../images/Main_picture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 4;
    &-shadow {
      position: absolute;
      z-index: 3;
      width: 561px;
      height: 416px;
      top: 39.53703704%;
      left: 63.48958333%;
      background-color: var(--button-bg-color, #543c73);
    }
  }

  .granat {
    position: absolute;
    height: 491px;
    width: 242px;
    // на макете сверху отступ 319 а вся высота 1080, в процентах это 29.53703704
    top: 29.53703704%;
    left: 0;
    background-image: url("../images/granat_242_491.png");
    border-top-right-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
  }
}
